<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Delivery Details</h1>
        <p>
            Order Number: <span data-th-text="${delivery.id}"></span>
            <br>
            Your order will be delivered to: <span data-th-text="${delivery.deliveryAddress}"></span>
            <br>
            Pizza cost: <span data-th-text="${pizzaCost}"></span>
            <br>
            <span th:if="${delivery.rush}">Rush: $2</span>
            <br>
            Total Cost: <span data-th-text="${totalCost}"></span>
            <br>
            <!-- <br>
            pizza size: <span data-th-text="${customerOrder.pizzaSize}"></span>
            <br>
            pizza quantity: <span data-th-text="${customerOrder.pizzaQuantity}"></span> -->

        </p>
    </div>

    
</body>
</html>