<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div>
        <h1>Your Order Info</h1>
        <p data-th-object="${order}">
            Name: <span data-th-text="*{pizzaName}"></span>
            <br>
            Size: <span data-th-text="*{pizzaSize}"></span>
            <br>
            Quantity: <span data-th-text="*{pizzaQuantity}"></span>
            <br>
        </p>
    </div> -->
    <div>
        <form 
        action="#" 
        data-th-action="@{/pizza/order}" 
        data-th-object="${delivery}" 
        method="post">
            <h2>Order Delivery Details</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Name: 
                        </td>
                        <td>
                            <input name="name" value="name" type="text" data-th-field="*{name}"> 
                        </td>
                    </tr>
                    <span class="error" data-th-if="${#fields.hasErrors('name')}"
					data-th-errors="*{name}"></span>
                    <br>
                    <tr>
                        <td>
                            Address: 
                        </td>
                        <td>
                            <input name="deliveryAddress" value="deliveryAddress" type="text" data-th-field="*{deliveryAddress}">
                        </td>
                    </tr>
                    <span class="error" data-th-if="${#fields.hasErrors('deliveryAddress')}"
					data-th-errors="*{deliveryAddress}"></span>
                    <br>
                    <tr>
                        <td>
                            Phone: 
                        </td>
                        <td>
                            <input name="phoneNumber" value="phoneNumber" type="number" 
                            data-th-field="*{phoneNumber}">
                        </td>
                    </tr>
                    <span class="error" data-th-if="${#fields.hasErrors('phoneNumber')}"
					data-th-errors="*{phoneNumber}"></span>
                    <br>
                    <tr>
                        <td>
                            Rush:
                        </td>
                        <td>
                            <input name="rush" value="rush" type="checkbox"
                            data-th-field="*{rush}">
                        </td>
                    </tr>
                    <span class="error" data-th-if="${#fields.hasErrors('rush')}"
					data-th-errors="*{rush}"></span>
                    <br>
                    <tr>
                        <td>
                            Comments: 
                        </td>
                        <td>
                            <input name="comments" value="comments" type="text"
                            data-th-field="*{comments}"/>
                        </td>
                    </tr>
                    <span class="error" data-th-if="${#fields.hasErrors('comments')}"
					data-th-errors="*{comments}"></span>
                    <br>
                    <tr>
                        <!-- <p name="size" value="size" type="size"  th:text="*{size}" data-th-field="*{size}"></p>
                        <p name="pizzaName" value="pizzaName" type="pizzaName"  th:text="*{pizzaName}" data-th-field="*{pizzaName}">Size</p>
                        <p name="quantity" value="quantity" type="quantity"  th:text="*{quantity}" data-th-field="*{quantity}">Size</p> -->
                        <td></td>
                        <td>
                            <button type="submit" th:formaction="@{/pizza}" value="cancel" >Cancel Order</button>
                            <button type="submit">Place Order</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>