<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Panucci's Pizza</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>

		<div class="title">
			<div><img src="/images/logo.jpg" class="thumbnail"></div>
			<h2>Panucci's Pizza</h2>
		</div>

		<form action="#" data-th-action="@{/order}" data-th-object="${order}" method="post">
			<div>
				<h2>Select a pizza</h2>
				<table>
					<tr>
						<td>
							<div>
								<img src="/images/Bella.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" value="bella" data-th-field="*{pizzaName}" > Bella
							</div>
						</td>
						<td>
							<div>
								<img src="/images/Margherita.png" class="pizza" >
							</div>
							<div>
								<input type="radio" name="pizza" value="margherita" data-th-field="*{pizzaName}"> Margherita
							</div>
						</td>
						<td>
							<div>
								<img src="/images/Marinara.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" value="marinara" data-th-field="*{pizzaName}"> Marinara
							</div>
						</td>
						<td>
							<div>
								<img src="/images/SpianataCalabrese.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" value="spianatacalabrese" data-th-field="*{pizzaName}"> Spianata Calabrese
							</div>
						</td>
						<td>
							<div>
								<img src="/images/TrioFormaggio.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" value="trioformaggio" data-th-field="*{pizzaName}"> Trio Formaggio
							</div>
						</td>
					</tr>
					<span class="error" data-th-if="${#fields.hasErrors('pizzaName')}"
					data-th-errors="*{pizzaName}"></span>
					<br>
		
					<tr>
						<td>Size:</td>
						<td>
							<select name="size" data-th-field="*{pizzaSize}" required>
								<option value="sm">Small</option>
								<option value="md">Medium</option>
								<option value="lg">Large</option>
							</select>
						</td>
					</tr>
					<span class="error" data-th-if="${#fields.hasErrors('pizzaSize')}"
					data-th-errors="*{pizzaSize}"></span>
					<tr>
						<td>Quantity:</td>
						<td>
							<input type="number" min="1" name="quantity" data-th-field="*{pizzaQuantity}"> 
						</td>
					</tr>
					<span class="error" data-th-if="${#fields.hasErrors('pizzaQuantity')}"
					data-th-errors="*{pizzaQuantity}"></span>
					<br>
					<tr>
						<td></td>
						<td>
							<button type="submit">Next</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
		
	</body>
</html>
